.container {
  max-width: 800px;
}

ul {
  list-style: circle;
}

a {
  color: #222;
}

header {
  margin-top: 3rem;
}

header h1 {
  text-align: center;
  letter-spacing: 2rem;
}

nav {
  display: block;
  width: 100%;
  height: 6.5rem;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

nav ul {
  list-style: none;
  margin-bottom: 0px;
}

nav li {
  display: inline;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

nav a {
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 6.5rem;
}

article {
  padding: 4rem 0;
  border-bottom: 1px solid #eee;
}

article h2 {
  font-size: 3.5rem;
}

article h2 a {
  text-decoration: none;
}

article h3 {
  font-size: 2.5rem;
}

article p {
  letter-spacing: 0.1rem;
}

footer {
  text-align: center;
}

.newer-posts {
  float: left;
}

.older-posts {
  float: right;
}
